<div class="wrapper">
  <div class="content-wrapper">
    <h2>What's going on?</h2>
    <div class="message">
      @if (streamConfigService.currentStream$ | async; as stream) {
        <div [innerHTML]="stream.description"></div>
      }
    </div>

    @if (shouldShowChat$ | async) {
      @if (chatService.chat$ | async; as messages) {
        @if (messages.length > 0) {
          <h2>Chat</h2>
          @for (message of messages; track message.id) {
            <div class="message">
              @if (message.profileUrl) {
                <img
                  class="profile-picture"
                  [src]="message.profileUrl"
                  alt="profile picture"
                />
              } @else {
                <div
                  class="profile-picture"
                  [style.background-color]="message.color || '#f90'"
                ></div>
              }
              <div>
                <b class="username" [style.color]="message.color"
                  >{{ message.displayName }}:</b
                >
                {{ message.text }}
              </div>
            </div>
          }
        }
      }
    }
  </div>
</div>
