<app-login></app-login>
<div class="wrapper">
  <div class="streams">
    <ng-container
      *ngFor="
        let stream of streamConfigService.allStreams$ | async;
        trackBy: trackByKey
      "
    >
      <div
        [class.selected]="(selectedStreamKey$ | async) === stream.key"
        class="stream"
      >
        <div *ngIf="stream.isCurrent" class="live-small">LIVE</div>
        <app-announce
          (click)="selectedStreamKey.next(stream.key)"
          [stream]="stream"
        ></app-announce>
      </div>
    </ng-container>
  </div>

  <div *ngIf="currentStream$ | async as stream" class="stream-config">
    <div class="stream-controls">
      <button mat-button (click)="startStream(stream)">Start stream</button>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteStream(stream.key)">
          Delete stream
        </button>
        <button mat-menu-item (click)="duplicateStream(stream)">
          Duplicate stream
        </button>
      </mat-menu>
    </div>

    <div *ngIf="stream.isCurrent" class="live">LIVE</div>
    <div class="field">
      <label>
        <span class="label">Title</span>
        <input
          class="name-input"
          type="text"
          [ngModel]="stream.name"
          (ngModelChange)="updateStreamName(stream, $event)"
        />
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Language</span>
        <select
          [ngModel]="stream.language"
          (ngModelChange)="updateByPropName(stream, 'language', $event)"
        >
          <option value="en">English</option>
          <option value="ru">Русский</option>
        </select>
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Color</span>
        <input
          type="color"
          [ngModel]="stream.color"
          (ngModelChange)="updateByPropName(stream, 'color', $event)"
        />
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Font color</span>
        <input
          type="color"
          [ngModel]="stream.fontColor"
          (ngModelChange)="updateByPropName(stream, 'fontColor', $event)"
        />
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Date</span>
        <input
          type="text"
          [ngModel]="stream.streamDate"
          (ngModelChange)="updateStreamDate(stream, $event)"
        />
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Secondary title</span>
        <input
          type="text"
          [ngModel]="stream.secondaryTitle"
          (ngModelChange)="updateByPropName(stream, 'secondaryTitle', $event)"
        />
      </label>
    </div>

    <div class="field">
      <label>
        <span class="label">Description</span>
        <textarea
          type="color"
          [ngModel]="stream.description"
          (ngModelChange)="updateStreamDescription(stream, $event)"
        >
        </textarea>
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Highlights</span>
        <textarea
          type="color"
          [ngModel]="stream.highlights"
          (ngModelChange)="updateByPropName(stream, 'highlights', $event)"
        >
        </textarea>
      </label>
    </div>
    <div class="field">
      <label>
        <span class="label">Promo text</span>
        <textarea
          type="color"
          [ngModel]="stream.promoText"
          (ngModelChange)="updateByPropName(stream, 'promoText', $event)"
        >
        </textarea>
      </label>
    </div>

    <div>
      <app-waiting-screen [stream]="stream"></app-waiting-screen>
    </div>
    <div style="margin-top: 20px">
      <app-announce [stream]="stream"></app-announce>
    </div>
  </div>
</div>
<button (click)="addNewStream()">Add new stream</button>
