.wrapper {
  display: flex;
}

.name-input {
  font-size: 20px;
}

input[type='text'] {
  width: 100%;
}

.streams {
  padding: 16px;

  .stream {
    margin-bottom: 20px;
    opacity: 0.8;

    &.selected {
      opacity: 1;
      outline: 4px #444 solid;
    }

    app-announce {
      zoom: 0.1;
      display: block;
    }
  }
}

app-waiting-screen {
  zoom: 0.2;
}

app-announce {
  zoom: 0.3;
}

.label {
  display: inline-block;
  width: 140px;
}

label {
  display: flex;
}

.field {
  padding: 8px;
}

textarea {
  width: 400px;
  height: 120px;
}

.stream-config {
  margin-top: 12px;
}

.stream-controls {
  display: flex;
  justify-content: space-between;
}

.live {
  background: #0d920d;
  color: white;
  padding: 20px;
  text-align: center;
}
.live-small {
  background: #0d920d;
  color: white;
  padding: 4px 8px;
}
