<div class="wrapper"
     [style.background]="stream.color"
     [style.color]="stream.fontColor"
     *ngIf="waitingService.latestStream$ | async as stream">
  <div class="screen-title">
    {{stream.name}}
  </div>
  <div class="tags">
    <ul>
      <li>#Angular</li>
      <li>#TypeScript</li>
      <li>#Firebase</li>
      <li>#Twitch API</li>
<!--      <li>#Agora SDK</li>-->
<!--      <li>#PubNub SDK</li>-->
<!--      <li>#Python</li>-->
    </ul>
  </div>

  <img src="/assets/dog.png" class="dog">

  <div class="starts-soon">
    Be right back (in 2 minutes)
  </div>
</div>
