.wrapper {
  width: var(--screen-width);
  height: var(--screen-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
  box-sizing: border-box;
  text-align: center;
}

.dog {
  width: 400px;
  height: 400px;
  margin: auto;
  display: block;
}
.screen-title {
  font-size: 100px;
  line-height: 100px;
  height: 100px;
}

.starts-soon {
  font-size: 50px;
}

.secondary-title {
  font-size: 50px;
  text-align: center;
}
