.wrapper {
  width: var(--screen-width);
  height: var(--screen-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
  box-sizing: border-box;
  text-align: center;
}

.dog {
  width: 400px;
  height: 400px;
  margin: auto;
  display: block;
}
.screen-title {
  font-size: 100px;
}

.starts-soon {
  font-size: 50px;
}

.tags {
  font-size: 50px;
  width: 100%;
  display: flex;

  li,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    margin: auto;
    display: flex;
  }
  li {
    margin-right: 20px;
  }
}
