h1  {
  font-size: 40px;
  margin-top: 20px;
}

:host {
  display: block;
  margin: auto;
  max-width: 1024px;
}

.stream h3 {
  display: flex;
  justify-content: space-between;
}

.intro {
  padding: 20px 0 40px;
  font-size: 20px;
}
