:host {
  --font-size: 16px;
  --font-line-height: calc(var(--font-size) + 4px);
  --header-size: 20px;
  --header-line-height: calc(var(--header-size) + 4px);
}

:host.flexible {
  display: block;

  .wrapper {
    width: 100%;
    height: auto;
    font-size: var(--font-size);
    line-height: var(--font-line-height);
    padding: 16px;
  }

  h1,
  .links {
    font-size: var(--header-size);
    line-height: var(--header-line-height);
    margin: 0;
  }

  .body {
    height: 100%;
    margin-top: 40px;
    display: flex;

    ::ng-deep p {
      line-height: var(--font-line-height);
    }

    .images {
      display: flex;
      flex-direction: column;

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.wrapper {
  width: var(--screen-width);
  height: var(--screen-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  box-sizing: border-box;
  font-size: 60px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 80px;
  line-height: 100px;
  margin-top: 0;
  margin-bottom: 80px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.links {
  font-size: 80px;
  display: flex;
  justify-content: space-between;
}

.body {
  height: 100%;
  margin-top: 40px;
  display: flex;

  .images {
    display: flex;
    flex-direction: column;

    img {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      margin-bottom: 40px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 20px;
    }
  }

  .description {
    margin-left: 80px;
  }
}

:host ::ng-deep {
  p {
    line-height: 90px;
  }
  ul {
    margin-left: 80px;
  }
}
