<div *ngFor="let token of tokens$ | async" class="token">
  <label>
    <span class="label">{{ token.name }}: </span>
    <input
      #val
      type="password"
      [ngModel]="token.value"
      (ngModelChange)="updateToken(token, val.value)"
    />
  </label>

  <button mat-icon-button (click)="deleteToken(token)">
    <mat-icon>cancel</mat-icon>
  </button>
</div>

<div class="new-token">
  <label>
    <input type="text" #newTokenName/>
    <button (click)="createToken(newTokenName.value)">create token</button>
  </label>
</div>

<hr/>
<button mat-button (click)="createAdminAccessToken()">
  Create Admin Access Token
</button>

<div *ngFor="let token of adminAccessTokens$ | async" class="token">
  <label>
    <input type="password" disabled [ngModel]="token.id"/>
    <button
      mat-icon-button
      [cdkCopyToClipboard]="
        'https://kirjs.com/overlay?' +
        ADMIN_ACCESS_TOKEN_PARAM_NAME +
        '=' +
        token.id
      "
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </label>

  <button mat-icon-button (click)="deleteAdminAccessTokens$(token.id)">
    <mat-icon>cancel</mat-icon>
  </button>


  <button
    mat-button
    [cdkCopyToClipboard]="
        'http://localhost:4200/overlay?' +
        ADMIN_ACCESS_TOKEN_PARAM_NAME +
        '=' +
        token.id
      "
  >
    copy local
  </button>
</div>
