
:host {
  --border-color: #aaa;
  --input-padding: 8px;
  --label-width: 140px;
}

.wrapper {
  display: flex;
}

.name-input {
  font-size: 20px;
}

app-wysiwyg-editor,
select,
input,
textarea {
  box-sizing: border-box;
  border: 1px var(--border-color) solid;
  padding: var(--input-padding);
}

input[type='color'] {
  padding: 0;
}

select,
input[type='text'],
input[type='color'],
input[type='datetime-local'] {
  width: 100%;
}

app-waiting-screen {
  zoom: 0.2;
}

app-announce {
  zoom: 0.3;
}

.label {
  display: inline-block;
  width: var(--label-width);
  flex-shrink: 0;
}

@media screen and (max-width: 640px) {
  label {
    flex-direction: column;
  }
}

label {
  display: flex;
}

.field {
  padding: 8px;
}

textarea {
  width: 400px;
  height: 120px;
}

.stream-config {
  margin-top: 12px;
}

.stream-controls {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;

  .stream-buttons {
    display: flex;
  }
}

.live {
  background: #0d920d;
  color: white;
  padding: 20px;
  text-align: center;
}

app-announce {
  display: block;
  overflow: hidden;
}

.telegram {
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.promo-text-preview {
  margin-left:  var(--label-width);
  white-space: pre-wrap;
}
