.field label {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;

  input, textarea {
    width: 300px;
  }

  textarea {
    height: 80px;
  }
}

.label {

}

ul, li {
  width: 100%;
  display: block;
}

.guest {
  display: flex;
  width: 100%;
}
