:host {
  display: block;
  padding: 40px;
}

.field label {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;

  input, textarea {
    width: 300px;
  }

  textarea {
    height: 80px;
  }
}

.label {

}

ul, li {
  width: 100%;
  display: block;
}

.guest {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px #ddd solid;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}
