:host {
  color: #eee;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  padding: 10px;
  position: absolute;
}

.message {
  font-size: 40px;
  position: absolute;
  line-height: 80px;
  padding-left: 20px;
}
