<div class="wrapper">
  <div class="dog"></div>
  <div class="content-wrapper">
    <h2>What's going on?</h2>
    <div class="message">
      <ng-container
        *ngIf="streamConfigService.currentStream$ | async as stream"
      >
        <div [innerHTML]="stream.description"></div>
      </ng-container>
    </div>
    <div *ngIf="chatService.chat$ | async as messages">
      <ng-container *ngIf="messages.length > 0">
        <h2>Chat</h2>
        <div *ngFor="let message of messages" class="message">
            <b class="username" [style.color]="message.color">{{
              message.author
            }}</b
            >: {{ message.text }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
