:host {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  display: block;
  box-sizing: border-box;
  height: 1080px;
  background: #333333 url('logo.png') no-repeat center;
  width: var(--sidebar-size);

  opacity: 0.95;
}

.content-wrapper {
  width: var(--sidebar-size);
  display: block;
  box-sizing: border-box;
  padding: 20px;
}

h2 {
  margin: 16px 0 8px;
  padding: 0;
  font-weight: 300;
  font-size: 30px;
  color: #ffce2f;
}

::ng-deep {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}

.username {
  font-weight: 400;
  color: #ffce2f;
}

.dog {
  width: var(--sidebar-size);
  height: var(--sidebar-size);

  //background: url("dog.png");
  background-size: cover;
}

.wrapper {
  opacity: 0.98;
  color: #eee;
  background-color: #333;
  width: var(--sidebar-size);
}

.message {
  font-size: 22px;
  margin-bottom: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
}

div.profile-picture:after {
  grid-area: 1/1;
  content: "twitch";
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
}
