<div class="wrapper">
<!--  <div class="dog"></div>-->
  <div class="content-wrapper">
    <h2>What's going on?</h2>
    <div class="message">
      <ng-container
        *ngIf="streamConfigService.currentStream$ | async as stream"
      >
        <div [innerHTML]="stream.description"></div>
      </ng-container>
    </div>
    <ng-container *ngIf="shouldShowChat$ | async">
      <div *ngIf="chatService.chat$ | async as messages">
        <ng-container *ngIf="messages.length > 0">
          <h2>Chat</h2>
          <div *ngFor="let message of messages" class="message">
            <ng-container>
              <img
                class="profile-picture"
                *ngIf="message.profileUrl"
                [src]="message.profileUrl"
                alt="profile picture"
              />
              <div
                class="profile-picture"
                [style.background-color]="message.color || '#f90'"
                *ngIf="!message.profileUrl"
              ></div>
            </ng-container>
            <div>
              <b class="username" [style.color]="message.color"
                >{{ message.displayName }}:</b
              >
              {{ message.text }}
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <button (click)="postMessage('helow')">Post a message</button>
</div>
